# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcuserdatad/
.idea/

# SwiftPM
/.build/
/Packages/
/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# SwiftLint
.swiftlint.yml

# Other
*.log
